.place {
  margin: 0 auto;
}
.header {
  margin-left: 0px;
  margin-top: 70px;
  background-color: aqua;
}
.container mt-5 {
  margin-right: 50%;
  margin-left: 50%;
}
.table {
  margin-left: 0 auto;
  height: 500px;
}
.footer {
  position: fixed;
  height: 5rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: lightgoldenrodyellow;
  text-align: center;
}

.footer p {
  margin-left: 20px;
}
