.img {
  width: 35%;
}
.img img {
  max-width: 100%;
  height: 900px;
}

figcaption {
  position: absolute;
  bottom: 50%;
  color: white;
  font-weight: bolder;
  color: white;
}

@media screen and (min-width: 80px) {
  .img img {
    display: block;
  }
}
