.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 900px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
